apispec
bandit
colorama
coloredlogs
dicttoxml
elasticsearch-dsl>=7.0.0
falcon
falcon-apispec
falcon-auth
marshmallow
msgpack
pint
pycodestyle
pydocstyle
pyyaml>=5.0
requests
swagger-ui-py
toolz
tox
verboselogs
waitress
werkzeug
xmltodict
