apispec
colorama
coloredlogs
dicttoxml
elasticsearch-dsl>=7.0.0
falcon
falcon-apispec
falcon-auth
marshmallow
msgpack
pint
pyyaml>=5.0
requests
swagger-ui-py
toolz
verboselogs
waitress
werkzeug
xmltodict
