apispec
bandit
colorama
coloredlogs
elasticsearch-dsl>=7.0.0
falcon
falcon-apispec
falcon-auth
gitpython
msgpack
pint
pycodestyle
pydocstyle
pyyaml>=5.0
requests
swagger-ui-py
toolz
verboselogs
waitress
werkzeug
