[Unit]
Description=Context Broker Manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /opt/cb-manager/main.py

[Install]
WantedBy=multi-user.target
